.totalMessages {
  padding: 32px 40px;
  border-bottom: 1px solid $gray-50;
  background-color: $gray-03;
}

.totalMessagesText {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

.chatLink {
  text-decoration: none;
}

.createNewChatWrapper {
  padding: 16px;
}

.createNewChat {
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  color: $gray-95;
  border: 1px solid $gray-95;
  background-color: transparent;
}
