.totalMessages {
  padding: 32px 40px;
  border-bottom: 1px solid $gray-50;
  background-color: $gray-03;
}

.totalMessagesText {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

.chatLink {
  text-decoration: none;
}