// Brand colors
$b-green: #b2ffa9;
$b-orange: #fa7e61;
$b-yellow: #e7bb41;
$b-purple: #9969FF;
$b-blue: #6096ba;
$b-wheat: #f6f4f3;
$b-lavander: #eee5e9;

// UI
$ui-red: #df0613;
$ui-red-deep: #9c3e3e;
$ui-red-60: #ffe2e4;
$ui-red-90: #f7666f;
$ui-red-110: #b1040e;
$ui-blue-60: #ecf7ff;
$ui-blue-70: #d6edff;
$ui-blue-90: #6fb5ec;
$ui-blue-110: #0288d1;
$ui-blue-120: #0e4269;
$ui-light-blue: #b4e6ff;
$ui-blue: #2196f3;
$ui-blue-deep: #1f82b3;
$ui-light-green: #bbeab8;
$ui-green-70: #e4fbea;
$ui-green-90: #a2dab2;
$ui-green: #4caf50;
$ui-green-dark: #00805f;
$ui-new-good: #6fbebc;

// Shades of gray
$gray-95: #180a29;
$gray-90: #212427;
$gray-75: #33383d;
$gray-70: #464c53;
$gray-55: #606971;
$gray-50: #9aacb5;
$gray-30: #8e979f;
$gray-11: #c0c5c9;
$gray-10: #F2F1F4;
$gray-03: #FBFBFB;
$gray-BG: #f0f1f2;
$gray-NY: #f7f7f7;
$gray-60: #e5e5e5;
$gray-cs: #dAd4d7;

//Shades of brown
$brown-95: #1f1300;

$white: #ffffff;
$black: #000000;

$z-bottom-navbar: 102;
$header-height: 72px;

$main-font: 'Inter', sans-serif;
$font-standard-size: 12px;

$desktop-max-width: 1232px;


//hover 
$b-blue-hover: #4d7794;
